@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-sm-center">
        <form action="?" method="POST">
            <div class="g-recaptcha" data-sitekey="6Lc2JNsUAAAAANQ957b3qXFONyZdlnNICehAYysP"></div>
            <br />
            <input id="submit_form_btn_v2" type="submit" value="SubmitV2" class="btn btn-warning">
            <input id="submit_form_btn_v3" type="submit" value="SubmitV3" class="btn btn-warning">
        </form>
    </div>
</div>
